.menu-container {
  .menu-flex-container {

    .menu-header {
      h1 {
        font-family: 'Sriracha', cursive;
        font-size: 2em;
      }
    }

    .menu-list-container {
      font-size: 0.7em;
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;


      h1 {
        box-shadow: 0px 10px 14px -7px #ffa600;
        background-color:#ffa600;
        border-radius:4px;
        width: 200px;
        border:1px solid #ffa600;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:14px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffa600;
        font-family: 'Nanum Gothic', sans-serif;
        box-shadow: 0 8px 6px -6px black;

      }
      h1:hover {
        background:linear-gradient(#ffa600);
        background-color:#ffa600;
      }
      h1:active {
        position:relative;
        top:1px;
      }

    }
  }
}