.option-outside-container {
  position: relative;
  margin: 0;
  .option-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

  }

  .option-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 20%;
  }

  .option-helper-container {

    height: 600px;
    .option-summary-container {
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
  
      .option-menu-header {
        width: 30vh;
        height: 12vh;
        padding: 10px;
        border-radius: 5px;
        color: white;
        background-color: #b58e5a;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        h1,p {
          font-family: 'Hind Madurai', sans-serif;
        }
  
      }

      .option-menu-info {
        .option-menu-grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          .option-table-flex {
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: ce;
            padding-top: 20px;

            ul {
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              list-style: none;
              grid-column-gap: 20px;
              padding: 0;
              width: 300px;

              .option-left-side {

              }
              
              .option-right-side {
                width: 300px;
                font-family: 'Quicksand', sans-serif;
                .option-name {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      
    }
    
  } 
}
